.footer {
  width: 100%;
  height: 60px;
  border-radius: 20px;
  border: 2px solid #161616;
  background: #fdfdfb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: #161616;
  margin-top: 2rem;
}
